Repository goustoben/gousto-webclient, changes with the owners that CODEOWNERS names for each.
All owners: @Gousto/guild-frontend, @Gousto/squad-radishes, @Gousto/squad-haricots, @Gousto/squad-rockets

CODEOWNERS:

*       @Gousto/guild-frontend

/src/src/routes/Menu/       @Gousto/squad-radishes
/src/src/config/collections.js       @Gousto/squad-radishes
/src/src/config/menu.js       @Gousto/squad-radishes
/src/src/config/recipes.js       @Gousto/squad-radishes
/src/src/containers/menu/       @Gousto/squad-radishes
/src/src/actions/basket.js       @Gousto/squad-radishes
/src/src/actions/__tests__/basket.test.js       @Gousto/squad-radishes
/src/src/actions/boxSummary.js       @Gousto/squad-radishes
/src/src/actions/__tests__/boxSummary.test.js       @Gousto/squad-radishes
/src/src/actions/menu.js       @Gousto/squad-radishes
/src/src/actions/__tests__/menu.test.js       @Gousto/squad-radishes
/src/src/actions/menuActionHelper.js       @Gousto/squad-radishes
/src/src/actions/__tests__/menuActionHelper.test.js       @Gousto/squad-radishes
/src/src/actions/menuCollections.js       @Gousto/squad-radishes
/src/src/actions/__tests__/menuCollections.test.js       @Gousto/squad-radishes
/src/src/actions/menuService.js       @Gousto/squad-radishes
/src/src/actions/__tests__/menuService.test.js       @Gousto/squad-radishes
/src/src/actions/menuServiceLoadDays.js       @Gousto/squad-radishes
/src/src/actions/__tests__/menuServiceLoadDays.test.js       @Gousto/squad-radishes
/src/src/actions/collections.js       @Gousto/squad-radishes
/src/src/actions/__tests__/collections.test.js       @Gousto/squad-radishes
/src/src/actions/recipes.js       @Gousto/squad-radishes
/src/src/actions/__tests__/recipes.test.js       @Gousto/squad-radishes
/src/src/actions/filters.js       @Gousto/squad-radishes
/src/src/actions/__tests__/filters.test.js       @Gousto/squad-radishes
/src/src/reducers/basket.js       @Gousto/squad-radishes
/src/src/reducers/__tests__/basket.test.js       @Gousto/squad-radishes
/src/src/reducers/boxSummary.js       @Gousto/squad-radishes
/src/src/reducers/__tests__/boxSummary.test.js       @Gousto/squad-radishes
/src/src/reducers/collections.js       @Gousto/squad-radishes
/src/src/reducers/__tests__/collections.test.js       @Gousto/squad-radishes
/src/src/reducers/filters.js       @Gousto/squad-radishes
/src/src/reducers/__tests__/filters.test.js       @Gousto/squad-radishes
/src/src/reducers/menu.js       @Gousto/squad-radishes
/src/src/reducers/__tests__/menu.test.js       @Gousto/squad-radishes
/src/src/reducers/menuService.js       @Gousto/squad-radishes
/src/src/reducers/__tests__/menuService.test.js       @Gousto/squad-radishes
/src/src/reducers/recipes.js       @Gousto/squad-radishes
/src/src/reducers/__tests__/recipes.test.js       @Gousto/squad-radishes
/src/src/selectors/basket.js       @Gousto/squad-radishes
/src/src/selectors/__tests__/basket.test.js       @Gousto/squad-radishes
/src/src/selectors/boxSummary.js       @Gousto/squad-radishes
/src/src/selectors/__tests__/boxSummary.test.js       @Gousto/squad-radishes
/src/src/selectors/collections.js       @Gousto/squad-radishes
/src/src/selectors/__tests__/collections.test.js       @Gousto/squad-radishes
/src/src/selectors/filters.js       @Gousto/squad-radishes
/src/src/selectors/__tests__/filters.test.js       @Gousto/squad-radishes
/src/src/selectors/recipe.js       @Gousto/squad-radishes
/src/src/selectors/__tests__/recipe.test.js       @Gousto/squad-radishes
/src/src/selectors/menu.js       @Gousto/squad-radishes
/src/src/selectors/__tests__/menu.test.js       @Gousto/squad-radishes
/src/src/utils/basket.js       @Gousto/squad-radishes
/src/src/utils/__tests__/basket.test.js       @Gousto/squad-radishes
/src/src/utils/boxSummary.js       @Gousto/squad-radishes
/src/src/utils/collections.js       @Gousto/squad-radishes
/src/src/utils/menu.js       @Gousto/squad-radishes
/src/src/utils/menuService.js       @Gousto/squad-radishes
/src/src/utils/__tests__/menuService.test.js       @Gousto/squad-radishes
/src/src/utils/recipe.js       @Gousto/squad-radishes
/src/src/utils/__tests__/recipe.test.js       @Gousto/squad-radishes


/src/src/routes/ResetPassword/       @Gousto/squad-haricots
/src/src/routes/Jobs/       @Gousto/squad-haricots
/src/src/routes/GetHelp/       @Gousto/squad-haricots
/src/src/routes/OrderConfirmation/       @Gousto/squad-haricots


/src/src/routes/BoxPrices/       @Gousto/squad-rockets
/src/src/routes/Account/       @Gousto/squad-rockets
/src/src/routes/Checkout/       @Gousto/squad-rockets
/src/src/routes/Signup/       @Gousto/squad-rockets
/src/src/routes/Welcome/       @Gousto/squad-rockets
/src/src/routes/Join/       @Gousto/squad-rockets
/src/src/routes/Home/       @Gousto/squad-rockets
/src/src/actions/loggingmanager.js       @Gousto/squad-rockets
/src/src/apis/loggingManager.js       @Gousto/squad-rockets
/src/src/actions/__tests__/loggingmanager.test.js       @Gousto/squad-rockets
/src/src/apis/__tests__/loggingManager.test.js       @Gousto/squad-rockets
/src/src/actions/user.js       @Gousto/squad-rockets
/src/src/actions/__tests__/user.test.js       @Gousto/squad-rockets
/src/src/actions/subscription.js       @Gousto/squad-rockets
/src/src/actions/__tests__/subscription.test.js       @Gousto/squad-rockets
/src/src/actions/subscriptionPause.js       @Gousto/squad-rockets
/src/src/actions/__tests__/subscriptionPause.test.js       @Gousto/squad-rockets
/src/src/reducers/subscriptionPause.js       @Gousto/squad-rockets
/src/__tests__/reducers/subscriptionPause.test.js       @Gousto/squad-rockets
/src/src/reducers/subscription.js       @Gousto/squad-rockets
/src/__tests__/reducers/subscription.test.js       @Gousto/squad-rockets
/src/src/apis/subscription.js       @Gousto/squad-rockets
/src/src/apis/__tests__/subscription.test.js       @Gousto/squad-rockets
/src/src/actions/__tests__/tastePreferences.test.js       @Gousto/squad-rockets
/src/src/actions/tastePreferences.js       @Gousto/squad-rockets
/src/src/apis/tastePreferences.js       @Gousto/squad-rockets
/src/src/actions/welcome.js       @Gousto/squad-rockets
/src/src/containers/welcome/       @Gousto/squad-rockets
/src/src/apis/boxPrices.js       @Gousto/squad-rockets
/src/src/config/boxprices.js       @Gousto/squad-rockets
/src/src/apis/__tests__/boxPrices.test.js       @Gousto/squad-rockets
/src/__tests__/reducers/checkout.test.js       @Gousto/squad-rockets
/src/src/actions/checkout.js       @Gousto/squad-rockets
/src/src/actions/__tests__/checkout.test.js       @Gousto/squad-rockets
/src/src/apis/checkout.js       @Gousto/squad-rockets
/src/src/apis/__tests__/checkout.test.js       @Gousto/squad-rockets
/src/src/reducers/checkout.js       @Gousto/squad-rockets
/src/__tests__/reducers/checkout.test.js       @Gousto/squad-rockets
/src/src/actions/auth.js       @Gousto/squad-rockets
/src/src/actions/__tests__/auth.test.js       @Gousto/squad-rockets
/src/src/reducers/auth.js       @Gousto/squad-rockets
/src/__tests__/reducers/auth.test.js       @Gousto/squad-rockets
/src/src/apis/auth.js       @Gousto/squad-rockets
/src/src/apis/__tests__/auth.test.js       @Gousto/squad-rockets
/src/src/config/home.js       @Gousto/squad-rockets

Added fallback for asynchronous cookie setting (#2505)
  src/server/routes/__tests__/auth.test.js
  src/server/routes/auth.js
Owners: @Gousto/guild-frontend

[TR-4537] Update mexico limited edition tag to work for pizza night campaign (#2507)
  src/src/routes/Menu/selectors/__tests__/elevatedMenuExperienceRecipeTags.test.js
  src/src/routes/Menu/selectors/__tests__/recipe.test.js
  src/src/routes/Menu/selectors/elevatedMenuExperienceRecipeTags.js
  src/src/routes/Menu/selectors/recipe.js
Owners: @Gousto/squad-radishes

TC-1635/Add CTABack to SSR (#2489)
  src/src/routes/GetHelp/Contact/Contact.js
  src/src/routes/GetHelp/Contact/ContactContainer.js
  src/src/routes/GetHelp/GetHelp.css
  src/src/routes/GetHelp/GetHelp.js
  src/src/routes/GetHelp/IngredientIssues/IngredientIssues.css
  src/src/routes/GetHelp/IngredientIssues/IngredientIssues.logic.js
  src/src/routes/GetHelp/IngredientIssues/IngredientIssues.presentation.js
  src/src/routes/GetHelp/IngredientIssues/IngredientIssuesContainer.js
  src/src/routes/GetHelp/IngredientIssues/__tests__/IngredientIssues.test.js
  src/src/routes/GetHelp/IngredientReasons/IngredientReasons.css
  src/src/routes/GetHelp/IngredientReasons/IngredientReasons.logic.js
  src/src/routes/GetHelp/IngredientReasons/IngredientReasons.presentation.js
  src/src/routes/GetHelp/IngredientReasons/IngredientReasonsContainer.js
  src/src/routes/GetHelp/IngredientReasons/__tests__/IngredientReasons.test.js
  src/src/routes/GetHelp/Ingredients/Ingredients.css
  src/src/routes/GetHelp/Ingredients/Ingredients.logic.js
  src/src/routes/GetHelp/Ingredients/Ingredients.presentation.js
  src/src/routes/GetHelp/Ingredients/IngredientsContainer.js
  src/src/routes/GetHelp/Ingredients/__tests__/Ingredients.test.js
  src/src/routes/GetHelp/Ingredients/__tests__/IngredientsContainer.test.js
  src/src/routes/GetHelp/OrderIssue/OrderIssue.js
  src/src/routes/GetHelp/OrderIssue/OrderIssueContainer.js
  src/src/routes/GetHelp/RecipeCards/RecipeCards.logic.js
  src/src/routes/GetHelp/RecipeCards/RecipeCards.presentation.js
  src/src/routes/GetHelp/__tests__/GetHelp/Contact/Contact.test.js
  src/src/routes/GetHelp/__tests__/GetHelp/GetHelp.test.js
  src/src/routes/GetHelp/__tests__/GetHelp/OrderIssue/OrderIssue.test.js
  src/src/routes/GetHelp/components/BottomButton/BottomButton.css
  src/src/routes/GetHelp/components/BottomButton/BottomButton.js
Owners: @Gousto/squad-haricots

[TR-4446] Updated optimizely rollouts to use sessionID if authUserId is not given (#2511)
  src/src/containers/OptimizelyRollouts/OptimizelyRollouts.js
  src/src/containers/OptimizelyRollouts/OptimizelyRollouts.test.js
  src/src/containers/OptimizelyRollouts/OptimizelyRolloutsContainer.js
Owners: @Gousto/guild-frontend

[TR-4416] show loading optimizely (#2504)
  src/src/actions/__tests__/optimizely.test.js
  src/src/actions/actionTypes.js
  src/src/actions/optimizely.js
  src/src/containers/OptimizelyRollouts/OptimizelyRollouts.js
  src/src/containers/OptimizelyRollouts/OptimizelyRollouts.test.js
  src/src/containers/OptimizelyRollouts/OptimizelyRolloutsContainer.js
  src/src/containers/OptimizelyRollouts/optimizelySDK.js
  src/src/containers/OptimizelyRollouts/optimizelySDK.test.js
  src/src/routes/Menu/MenuRecipesPage/MenuRecipesPage.js
  src/src/routes/Menu/MenuRecipesPage/MenuRecipesPageContainer.js
  src/src/routes/Menu/MenuRecipesPage/__tests__/MenuRecipesPage.test.js
  src/src/routes/Menu/MenuRecipesPage/__tests__/MenuRecipesPageContainer.test.js
Owners: @Gousto/guild-frontend, @Gousto/squad-radishes

Trigger load of optimizely if we have session id (#2514)
  src/src/actions/optimizely.js
Owners: @Gousto/guild-frontend

[TG-1929] Check promo code before signup (#2512)
  src/src/actions/__tests__/checkout.test.js
  src/src/actions/checkout.js
  src/src/apis/__tests__/customers.test.js
  src/src/apis/customers.js
  src/src/config/routes.js
  src/src/routes/Checkout/__regression__/checkoutPaymentFails.spec.js
  src/src/selectors/__tests__/checkout.test.js
  src/src/selectors/checkout.js
  tests/regression/fixtures/customers/promocode.json
Owners: @Gousto/squad-rockets, @Gousto/guild-frontend

[TG-1974] Update progress bar for checkout redesign experiment (#2516)
  src/src/components/ProgressBar/ProgressBar.css
  src/src/components/ProgressBar/ProgressBar.js
  src/src/routes/Checkout/Checkout.js
  src/src/routes/Checkout/CheckoutContainer.js
  src/src/routes/Checkout/__tests__/Checkout.test.js
  src/src/selectors/__tests__/features.test.js
  src/src/selectors/features.js
Owners: @Gousto/guild-frontend, @Gousto/squad-rockets

[TR-4621] Remove overflow hidden (#2523)
  src/src/components/Overlay/Overlay.css
Owners: @Gousto/guild-frontend

TR-4623 Box Summary Base Recipes (#2529)
  src/src/reducers/menu.js
  src/src/routes/Menu/BoxSummary/RecipeList/RecipeListContainer.js
  src/src/routes/Menu/selectors/__tests__/recipeList.test.js
  src/src/routes/Menu/selectors/recipeList.js
Owners: @Gousto/squad-radishes

[TR-4622] Update ingredients / micronutrients when selecting a side (#2527)
  src/src/routes/Menu/DetailOverlay/DetailOverlay.js
  src/src/routes/Menu/DetailOverlay/DetailOverlayContainer.js
  src/src/routes/Menu/Recipe/Detail/Detail.js
  src/src/routes/Menu/Recipe/Detail/DetailAllergenIngredients/DetailAllergenIngredients.js
  src/src/routes/Menu/Recipe/Detail/DetailAllergenIngredients/DetailAllergenIngredientsContainer.js
  src/src/routes/Menu/Recipe/Detail/DetailAllergenIngredients/index.js
  src/src/routes/Menu/Recipe/Detail/DetailAttributeGrid/DetailAttributeGrid.js
  src/src/routes/Menu/Recipe/Detail/DetailAttributeGrid/DetailAttributeGridContainer.js
  src/src/routes/Menu/Recipe/Detail/DetailAttributeGrid/index.js
  src/src/routes/Menu/Recipe/Detail/DetailIngredients/DetailIngredients.js
  src/src/routes/Menu/Recipe/Detail/DetailIngredients/DetailIngredientsContainer.js
  src/src/routes/Menu/Recipe/Detail/DetailIngredients/index.js
  src/src/routes/Menu/Recipe/Detail/DetailPerPortion/DetailPerPortion.js
  src/src/routes/Menu/Recipe/Detail/DetailPerPortion/DetailPerPortionContainer.js
  src/src/routes/Menu/Recipe/Detail/DetailPerPortion/index.js
  src/src/routes/Menu/Recipe/Detail/__tests__/Detail.test.js
  src/src/routes/Menu/Recipe/VariantRecipeList/VariantRecipeList/VariantRecipeList.js
  src/src/routes/Menu/Recipe/VariantRecipeList/VariantRecipeList/VariantRecipeListContainer.js
  src/src/routes/Menu/Recipe/VariantRecipeList/VariantRecipeListItem/VariantRecipeListItem.js
  src/src/routes/Menu/selectors/__tests__/recipe.test.js
  src/src/routes/Menu/selectors/recipe.js
Owners: @Gousto/squad-radishes

Add unit test coverage around VariantRecipeList for Customisation Adds (#2531)
  src/src/routes/Menu/Recipe/VariantRecipeList/VariantRecipeList/VariantRecipeList.js
  src/src/routes/Menu/Recipe/VariantRecipeList/VariantRecipeList/__tests__/VariantRecipeList.test.js
Owners: @Gousto/squad-radishes

Preserve selected sides correctly for Recipe Details and Sides modal (#2532)
  src/src/routes/Menu/DetailOverlay/DetailOverlayContainer.js
  src/src/routes/Menu/MenuRecipesPage/RecipeSidesModal/RecipeSidesModal.js
  src/src/routes/Menu/MenuRecipesPage/RecipeSidesModal/RecipeSidesModalContainer.js
  src/src/routes/Menu/MenuRecipesPage/RecipeSidesModal/RecipeSidesModalVariantRecipeListContainer.js
  src/src/routes/Menu/MenuRecipesPage/RecipeSidesModal/__tests__/RecipeSidesModalContainer.test.js
  src/src/routes/Menu/selectors/recipe.js
Owners: @Gousto/squad-radishes

[TR-4628] Display full surcharge on Sides (#2533)
  src/src/routes/Menu/Recipe/VariantRecipeList/VariantRecipeListItem/VariantRecipeListItem.js
  src/src/routes/Menu/Recipe/VariantRecipeList/VariantRecipeListItem/VariantRecipeListItemContainer.js
  src/src/routes/Menu/selectors/__tests__/recipe.test.js
  src/src/routes/Menu/selectors/recipe.js
Owners: @Gousto/squad-radishes

[TR-4631] Closing modal or details screen should unselect side if not in basket (#2534)
  src/src/routes/Menu/MenuRecipesPage/RecipeSidesModal/RecipeSidesModal.js
  src/src/routes/Menu/MenuRecipesPage/RecipeSidesModal/RecipeSidesModalButtons.js
  src/src/routes/Menu/MenuRecipesPage/RecipeSidesModal/RecipeSidesModalContainer.js
  src/src/routes/Menu/MenuRecipesPage/RecipeSidesModal/__tests__/RecipeSidesModal.test.js
  src/src/routes/Menu/MenuRecipesPage/RecipeSidesModal/__tests__/RecipeSidesModalContainer.test.js
  src/src/routes/Menu/Recipe/Detail/Detail.js
  src/src/routes/Menu/Recipe/Detail/DetailContainer.js
  src/src/routes/Menu/Recipe/Detail/__tests__/Detail.test.js
  src/src/routes/Menu/Recipe/VariantRecipeList/VariantRecipeList/VariantRecipeList.js
  src/src/routes/Menu/actions/__tests__/closeRecipeDetails.test.js
  src/src/routes/Menu/actions/closeRecipeDetails.js
  src/src/routes/Menu/actions/menuRecipeSidesTracking.js
Owners: @Gousto/squad-radishes

Swap logic for surcharge text with sides (#2536)
  src/src/routes/Menu/Recipe/VariantRecipeList/VariantRecipeListItem/VariantRecipeListItem.js
Owners: @Gousto/squad-radishes

Bind customisation adds tracking actions in containers (#2537)
  src/src/routes/Menu/MenuRecipesPage/RecipeSidesModal/RecipeSidesModal.js
  src/src/routes/Menu/MenuRecipesPage/RecipeSidesModal/RecipeSidesModalButtons.js
  src/src/routes/Menu/MenuRecipesPage/RecipeSidesModal/RecipeSidesModalButtonsContainer.js
  src/src/routes/Menu/MenuRecipesPage/RecipeSidesModal/RecipeSidesModalContainer.js
  src/src/routes/Menu/MenuRecipesPage/RecipeSidesModal/__tests__/RecipeSidesModal.test.js
  src/src/routes/Menu/MenuRecipesPage/RecipeSidesModal/__tests__/RecipeSidesModalButtons.test.js
  src/src/routes/Menu/MenuRecipesPage/RecipeSidesModal/__tests__/RecipeSidesModalButtonsContainer.test.js
  src/src/routes/Menu/MenuRecipesPage/RecipeSidesModal/__tests__/RecipeSidesModalContainer.test.js
  src/src/routes/Menu/Recipe/VariantRecipeList/VariantRecipeList/VariantRecipeList.js
  src/src/routes/Menu/Recipe/VariantRecipeList/VariantRecipeList/VariantRecipeListContainer.js
  src/src/routes/Menu/Recipe/VariantRecipeList/VariantRecipeList/__tests__/VariantRecipeList.test.js
Owners: @Gousto/squad-radishes

[TC-1651] DeliveryPreContact component for Get Help (#2520)
  src/package-lock.json
  src/src/routes/GetHelp/Delivery/SharedComponents/DeliveryPreContact/DeliveryPreContact.css
  src/src/routes/GetHelp/Delivery/SharedComponents/DeliveryPreContact/DeliveryPreContact.js
  src/src/routes/GetHelp/Delivery/SharedComponents/DeliveryPreContact/__tests__/DeliveryPreContact.test.js
  src/src/routes/GetHelp/Delivery/SharedComponents/DeliveryPreContact/index.js
Owners: @Gousto/guild-frontend, @Gousto/squad-haricots

[TG-1875] Add app store links to login modal on mobile viewport (#2508)
  src/src/components/AppStoreLinks/AppStoreLinks.css
  src/src/components/AppStoreLinks/AppStoreLinks.js
  src/src/components/Header/Header.css
  src/src/components/Header/Header.js
  src/src/components/Header/__tests__/Header.test.js
  src/src/components/Login/HeadingWithSeparator/HeadingWithSeparator.css
  src/src/components/Login/HeadingWithSeparator/HeadingWithSeparator.js
  src/src/components/Login/HeadingWithSeparator/__tests___/HeadingWithSeparator.test.js
  src/src/components/Login/HeadingWithSeparator/index.js
  src/src/components/Login/LoginDesktop/LoginDesktop.js
  src/src/components/Login/LoginDesktop/__tests__/LoginDesktop.test.js
  src/src/components/Login/LoginDesktop/index.js
  src/src/components/Login/LoginForm/LoginForm.css
  src/src/components/Login/LoginForm/LoginForm.js
  src/src/components/Login/LoginForm/LoginFormContainer.js
  src/src/components/Login/LoginForm/__tests__/LoginForm.test.js
  src/src/components/Login/LoginForm/index.js
  src/src/components/Login/LoginMobile/LoginMobile.css
  src/src/components/Login/LoginMobile/LoginMobile.js
  src/src/components/Login/LoginMobile/LoginMobileContainer.js
  src/src/components/Login/LoginMobile/__tests__/LoginMobile.test.js
  src/src/components/Login/LoginMobile/index.js
  src/src/components/Login/LoginWrapper.js
  src/src/components/Login/LoginWrapperContainer.js
  src/src/components/Login/__tests__/LoginWrapper.test.js
  src/src/components/Login/index.js
  src/src/media/svgs/icon-Appstore-bw.svg
  src/src/media/svgs/icon-Appstore.svg
  src/src/media/svgs/icon-Playstore-bw.svg
  src/src/media/svgs/icon-Playstore.svg
  src/src/routes/Checkout/Components/AboutYou/AboutYou.js
  src/src/routes/Checkout/__tests__/Checkout/Steps/AboutYou/AboutYou.test.js
Owners: @Gousto/guild-frontend, @Gousto/squad-rockets
