Repository goustoben/gousto-webclient, changes with the owners that CODEOWNERS names for each.
All owners: @Gousto/guild-frontend, @Gousto/squad-radishes, @Gousto/squad-haricots, @Gousto/squad-rockets

CODEOWNERS:

*       @Gousto/guild-frontend

/src/src/routes/Menu/       @Gousto/squad-radishes
/src/src/config/collections.js       @Gousto/squad-radishes
/src/src/config/menu.js       @Gousto/squad-radishes
/src/src/config/recipes.js       @Gousto/squad-radishes
/src/src/containers/menu/       @Gousto/squad-radishes
/src/src/actions/basket.js       @Gousto/squad-radishes
/src/src/actions/__tests__/basket.test.js       @Gousto/squad-radishes
/src/src/actions/boxSummary.js       @Gousto/squad-radishes
/src/src/actions/__tests__/boxSummary.test.js       @Gousto/squad-radishes
/src/src/actions/menu.js       @Gousto/squad-radishes
/src/src/actions/__tests__/menu.test.js       @Gousto/squad-radishes
/src/src/actions/menuActionHelper.js       @Gousto/squad-radishes
/src/src/actions/__tests__/menuActionHelper.test.js       @Gousto/squad-radishes
/src/src/actions/menuCollections.js       @Gousto/squad-radishes
/src/src/actions/__tests__/menuCollections.test.js       @Gousto/squad-radishes
/src/src/actions/menuService.js       @Gousto/squad-radishes
/src/src/actions/__tests__/menuService.test.js       @Gousto/squad-radishes
/src/src/actions/menuServiceLoadDays.js       @Gousto/squad-radishes
/src/src/actions/__tests__/menuServiceLoadDays.test.js       @Gousto/squad-radishes
/src/src/actions/collections.js       @Gousto/squad-radishes
/src/src/actions/__tests__/collections.test.js       @Gousto/squad-radishes
/src/src/actions/recipes.js       @Gousto/squad-radishes
/src/src/actions/__tests__/recipes.test.js       @Gousto/squad-radishes
/src/src/actions/filters.js       @Gousto/squad-radishes
/src/src/actions/__tests__/filters.test.js       @Gousto/squad-radishes
/src/src/reducers/basket.js       @Gousto/squad-radishes
/src/src/reducers/__tests__/basket.test.js       @Gousto/squad-radishes
/src/src/reducers/boxSummary.js       @Gousto/squad-radishes
/src/src/reducers/__tests__/boxSummary.test.js       @Gousto/squad-radishes
/src/src/reducers/collections.js       @Gousto/squad-radishes
/src/src/reducers/__tests__/collections.test.js       @Gousto/squad-radishes
/src/src/reducers/filters.js       @Gousto/squad-radishes
/src/src/reducers/__tests__/filters.test.js       @Gousto/squad-radishes
/src/src/reducers/menu.js       @Gousto/squad-radishes
/src/src/reducers/__tests__/menu.test.js       @Gousto/squad-radishes
/src/src/reducers/menuService.js       @Gousto/squad-radishes
/src/src/reducers/__tests__/menuService.test.js       @Gousto/squad-radishes
/src/src/reducers/recipes.js       @Gousto/squad-radishes
/src/src/reducers/__tests__/recipes.test.js       @Gousto/squad-radishes
/src/src/selectors/basket.js       @Gousto/squad-radishes
/src/src/selectors/__tests__/basket.test.js       @Gousto/squad-radishes
/src/src/selectors/boxSummary.js       @Gousto/squad-radishes
/src/src/selectors/__tests__/boxSummary.test.js       @Gousto/squad-radishes
/src/src/selectors/collections.js       @Gousto/squad-radishes
/src/src/selectors/__tests__/collections.test.js       @Gousto/squad-radishes
/src/src/selectors/filters.js       @Gousto/squad-radishes
/src/src/selectors/__tests__/filters.test.js       @Gousto/squad-radishes
/src/src/selectors/recipe.js       @Gousto/squad-radishes
/src/src/selectors/__tests__/recipe.test.js       @Gousto/squad-radishes
/src/src/selectors/menu.js       @Gousto/squad-radishes
/src/src/selectors/__tests__/menu.test.js       @Gousto/squad-radishes
/src/src/utils/basket.js       @Gousto/squad-radishes
/src/src/utils/__tests__/basket.test.js       @Gousto/squad-radishes
/src/src/utils/boxSummary.js       @Gousto/squad-radishes
/src/src/utils/collections.js       @Gousto/squad-radishes
/src/src/utils/menu.js       @Gousto/squad-radishes
/src/src/utils/menuService.js       @Gousto/squad-radishes
/src/src/utils/__tests__/menuService.test.js       @Gousto/squad-radishes
/src/src/utils/recipe.js       @Gousto/squad-radishes
/src/src/utils/__tests__/recipe.test.js       @Gousto/squad-radishes


/src/src/routes/ResetPassword/       @Gousto/squad-haricots
/src/src/routes/Jobs/       @Gousto/squad-haricots
/src/src/routes/GetHelp/       @Gousto/squad-haricots
/src/src/routes/OrderConfirmation/       @Gousto/squad-haricots


/src/src/routes/BoxPrices/       @Gousto/squad-rockets
/src/src/routes/Account/       @Gousto/squad-rockets
/src/src/routes/Checkout/       @Gousto/squad-rockets
/src/src/routes/Signup/       @Gousto/squad-rockets
/src/src/routes/Welcome/       @Gousto/squad-rockets
/src/src/routes/Join/       @Gousto/squad-rockets
/src/src/routes/Home/       @Gousto/squad-rockets

[TECH-10] Remove context.store.dispatch from <Jobs /> (#2478)
  src/src/routes/Jobs/Openings/Openings.js
  src/src/routes/Jobs/__tests__/Openings/Openings.test.js
Owners: @Gousto/squad-haricots

[TC-1671 & TC-1642] Refresh Self Serve Resolution layout to be similar to the new one for deliveries flow (#2456)
  src/__tests__/layouts/GetHelpLayout.test.js
  src/bower.json
  src/config/webpack.client.js
  src/config/webpack.server.js
  src/package.json
  src/src/components/BottomBar/BottomBar.css
  src/src/goustouicomponents.js
  src/src/layouts/GetHelpLayout/GetHelpLayout.css
  src/src/layouts/GetHelpLayout/GetHelpLayout.js
  src/src/layouts/GetHelpLayout/index.js
  src/src/routes/GetHelp/Confirmation/Confirmation.js
  src/src/routes/GetHelp/Contact/Contact.js
  src/src/routes/GetHelp/Delivery/Delivery.js
  src/src/routes/GetHelp/GetHelp.css
  src/src/routes/GetHelp/GetHelp.js
  src/src/routes/GetHelp/IngredientIssues/IngredientIssues.presentation.js
  src/src/routes/GetHelp/IngredientIssues/__tests__/IngredientIssues.test.js
  src/src/routes/GetHelp/IngredientReasons/IngredientReasons.presentation.js
  src/src/routes/GetHelp/IngredientReasons/__tests__/IngredientReasons.test.js
  src/src/routes/GetHelp/Ingredients/Ingredients.presentation.js
  src/src/routes/GetHelp/Ingredients/__tests__/Ingredients.test.js
  src/src/routes/GetHelp/Ingredients/__tests__/IngredientsContainer.test.js
  src/src/routes/GetHelp/OrderIssue/OrderIssue.js
  src/src/routes/GetHelp/RecipeCards/RecipeCards.presentation.js
  src/src/routes/GetHelp/Refund/Refund.css
  src/src/routes/GetHelp/Refund/Refund.js
  src/src/routes/GetHelp/__tests__/GetHelp/Confirmation/Confirmation.test.js
  src/src/routes/GetHelp/__tests__/GetHelp/Contact/Contact.test.js
  src/src/routes/GetHelp/__tests__/GetHelp/OrderIssue/OrderIssue.test.js
  src/src/routes/GetHelp/__tests__/GetHelp/Refund/Refund.test.js
  src/src/routes/GetHelp/__tests__/GetHelp/components/Error/Error.test.js
  src/src/routes/GetHelp/components/BottomFixedContentWrapper/BottomFixedContentWrapper.css
  src/src/routes/GetHelp/components/BottomFixedContentWrapper/BottomFixedContentWrapper.js
  src/src/routes/GetHelp/components/BottomFixedContentWrapper/__tests__/BottomFixedContentWrapper.test.js
  src/src/routes/GetHelp/components/BottomFixedContentWrapper/index.js
  src/src/routes/GetHelp/components/Error/Error.js
Owners: @Gousto/guild-frontend, @Gousto/squad-haricots

[TG-1933] add delivery education banner on checkout flow (#2484)
  src/src/media/svgs/icon-snowflake.svg
  src/src/routes/Checkout/Components/Delivery/Delivery.css
  src/src/routes/Checkout/Components/Delivery/DeliveryDetails/DeliveryDetails.js
  src/src/routes/Checkout/Components/Delivery/DeliveryDetails/DeliveryEducationBanner.js
  src/src/routes/Checkout/__tests__/Checkout/Steps/Delivery/DeliveryDetails/DeliveryDetails.test.js
  src/src/routes/Checkout/__tests__/Checkout/Steps/Delivery/DeliveryDetails/DeliveryEducationBanner.test.js
Owners: @Gousto/guild-frontend, @Gousto/squad-rockets

[TG-966] Abandon basket Salesforce event (#2483)
  src/src/actions/__tests__/loggingmanager.test.js
  src/src/actions/loggingmanager.js
  src/src/routes/Menu/actions/__tests__/basketRecipes.test.js
  src/src/routes/Menu/actions/basketRecipes.js
Owners: @Gousto/guild-frontend, @Gousto/squad-radishes

[TR-4437] Remove call to recipe service (#2487)
  src/src/apis/__tests__/recipes.test.js
  src/src/apis/recipes.js
  tests/e2e/pages/shared.js
Owners: @Gousto/guild-frontend

[TG-952] - abandon session SF event (#2358)
  src/src/actions/__tests__/auth.test.js
  src/src/actions/__tests__/loggingmanager.test.js
  src/src/actions/auth.js
  src/src/actions/loggingmanager.js
Owners: @Gousto/guild-frontend

[TG-1629] - Activated free food event (#2491)
  src/server/routes/__tests__/auth.test.js
  src/server/routes/auth.js
  src/src/routes/Account/Referral/Referral.js
  src/src/routes/Account/Referral/__tests__/Referral/Referral.test.js
Owners: @Gousto/guild-frontend, @Gousto/squad-rockets

Added loggingmanager conditional (#2493)
  src/src/config/endpoint.js
Owners: @Gousto/guild-frontend

Pass back actual error (#2494)
  src/server/routes/__tests__/auth.test.js
  src/server/routes/auth.js
Owners: @Gousto/guild-frontend

Added loggingmanage check to path generator (#2495)
  src/src/config/endpoint.js
Owners: @Gousto/guild-frontend

Tr 4346/sides modal (#2490)
  src/src/actions/actionTypes.js
  src/src/reducers/__tests__/menu.test.js
  src/src/reducers/menu.js
  src/src/routes/Menu/MenuRecipesPage/MenuRecipesPage.js
  src/src/routes/Menu/MenuRecipesPage/RecipeSidesModal/RecipeSidesModal.css
  src/src/routes/Menu/MenuRecipesPage/RecipeSidesModal/RecipeSidesModal.js
  src/src/routes/Menu/MenuRecipesPage/RecipeSidesModal/RecipeSidesModalContainer.js
  src/src/routes/Menu/MenuRecipesPage/RecipeSidesModal/__tests__/RecipeSidesModal.test.js
  src/src/routes/Menu/MenuRecipesPage/RecipeSidesModal/__tests__/RecipeSidesModalContainer.test.js
  src/src/routes/Menu/MenuRecipesPage/RecipeSidesModal/index.js
  src/src/routes/Menu/MenuRecipesPage/__tests__/MenuRecipesPage.test.js
  src/src/routes/Menu/Recipe/Buttons/Buttons.js
  src/src/routes/Menu/Recipe/Buttons/Buttons.test.js
  src/src/routes/Menu/Recipe/Buttons/ButtonsContainer.js
  src/src/routes/Menu/Recipe/VariantRecipeList/VariantRecipeList/VariantRecipeList.js
  src/src/routes/Menu/Recipe/VariantRecipeList/VariantRecipeList/VariantRecipeListContainer.js
  src/src/routes/Menu/Recipe/VariantRecipeList/VariantRecipeList/__tests__/VariantRecipeList.test.js
  src/src/routes/Menu/Recipe/VariantRecipeList/VariantRecipeListItem/VariantRecipeListItem.css
  src/src/routes/Menu/Recipe/VariantRecipeList/VariantRecipeListItem/VariantRecipeListItem.js
  src/src/routes/Menu/Recipe/VariantRecipeList/VariantRecipeListItem/__tests__/VariantRecipeListItem.test.js
  src/src/routes/Menu/actions/__tests__/menuRecipeSidesModal.test.js
  src/src/routes/Menu/actions/menuRecipeSidesModal.js
  src/src/routes/Menu/selectors/__tests__/menuRecipeSidesModal.test.js
  src/src/routes/Menu/selectors/__tests__/variants.test.js
  src/src/routes/Menu/selectors/menuRecipeSidesModal.js
  src/src/routes/Menu/selectors/variants.js
Owners: @Gousto/guild-frontend, @Gousto/squad-radishes

[TG-1629] - remove caching from logging manager endpoint (#2500)
  src/src/apis/__tests__/loggingManager.test.js
  src/src/apis/loggingManager.js
Owners: @Gousto/guild-frontend

[TG- 1629] - add SSL check for loggingmanager (#2502)
  src/src/config/endpoint.js
  src/src/utils/fetch.js
Owners: @Gousto/guild-frontend
